html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #734f9a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header,
footer {
  font-weight: 600;
  color: #8bd350;
  background-color: #1d1a2f;
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
}
footer {
  justify-content: center;
}
.right {
  gap: 10px;
  display: flex;
}
.link {
  color: #8bd350;
  text-decoration: none;
}
.painel {
  color: #8bd350;
  background-color: #1d1a2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  height: 60vh;
  margin: 10vh auto 0;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 25px;
  box-sizing: border-box;
}
.painel ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

#buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#log-pontuacao {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pontuacao {
  display: flex;
  flex-direction: column;
}
